<p id="notice"><%= notice %></p>

<h1>Listing Stockstatuses</h1>


<p>
<td>Status of the API .... </td><%= @apiresponse %>
</p>
<p>
<td>Status of the Venue .... </td><%= @venueresponse %>
</p>
<p>
<td>Status of the Orderbook .... </td><%= @orderbookresponse %>
</p>

<table>
<tbody>
<%= @json.each do |json| %>
<tr>

  <td>Status: <%= @json %></td>

  </tr>
  <% end %>
</tbody>
</table>

Status: <%= @json %>


<%= link_to 'New Stockstatus', new_stockstatus_path %>
